.center {
  text-align: center;
}

.border {
  border: 2px solid #1282D5;
  border-radius: 20px;
}

.bg-purple img {
  height: 45px;
}

.des {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  width: 84px;
}

.font {
  font-size: 17px;
  text-align: center;
  margin-top: 5px;
  color: #1282D5;
}

.el-collapse-item__header {
  font-size: 15px;
  border: none;
}

