.m-topBar{
  display: flex;
  flex-direction: row;
  height: 60px;
  // line-height: 60px;
  background: #fff;
  color: #606266;
  box-shadow: 7px 7px 4px rgba(213, 213, 213, 0.65);

  .logo {
    margin: 10px 0px 0;
    width: 111px;
    height: 44px;
  }
  .title {
    margin: -42px 141px 0 117px;
    width: 0px;
    height: 44px;
  }
}
